* {
    outline: none !important;
    user-select: none !important;
    text-decoration: none !important;
}

.card {
    height: 420px !important;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center;
}

.card-subtitle {
    margin-bottom: 5px;
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    height: 250px;
    object-position: center;
}
#rent{
    font-size: xx-large;
}
#log {
    cursor: pointer;
}

.books {
    margin-top: 50px;
    width: 900px;
    position: relative;
    left: -10%;
}

#img_book {
    width: 150px;
}

.rented_books {
    margin-top: 50px;
    /* display: grid;
    grid-template-columns: repeat(4, 250px); */
}

.rented_books .card {
    width: 250px;
    height: 500px;
}