*{
    outline: none !important;
    user-select: none !important;
    text-decoration: none !important;
}
body{
     background-color: rgb(204, 173, 233);
     transition:display 1s ease-in ;
     transition-delay: 1s;
}
#sidebar{
    width: 250px;
    background:  rgb(148, 94, 199);
    height:100vh;
    position: relative;
    left: -12px;
    padding: 10px;
}
#user{
    width: 35px;
    border-radius: 50%;
}
#log{
    cursor: pointer;
}

.card{
    height: 50%;
    width: 14rem;
}
.card-img-top{
  width: 70%;
  height: 100%;
    object-fit: cover; /* Fills the container, cropping if needed */
  object-position: center; /* Centers the image within the container */

}
.caroul{
    
}