#col_books {
    height: 100vh;
    overflow-wrap: anywhere;
}

.rented_books {
    margin-top: 50px;
    position: absolute;
    left: 250px;
    /* display: flex;
    justify-content: center;

    text-align: center;
    gap: 10px; */
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "1 2 3 4";
    gap: 10px;
}

.card {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 10px;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center  ;
}

.card-subtitle {
    font-size: 17px;
    margin-bottom: 10px;
}

.card-body {
    margin: -12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    height: 250px;
    object-position: center;

}

.card-footer {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 15px;
    margin-bottom: -10px;

}
.qt{
    position: absolute;
    top: 20px;
    left: 250px;
    margin-bottom: 50px;
}
