@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none !important;
    user-select: none;
    outline: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none !important;
    user-select: none;
    outline: none;
}
.fa-spinner{
    animation: loading 1s linear infinite;
        color: white;
}
.loading-div{
    background: rgb(129, 67, 187);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
    letter-spacing: 2px;


}
.loading{
    
}
.fs-1{
    color: white;
}
@keyframes loading{
    to{
        transform: rotate(360deg);
    }
}